h1{
    text-align:center;
}

.login {
    margin:auto;
    width: 370px;
    height: 380px;
    border: 5px;
    border-color: black;
    background-color:#fafafa;
    top: 50%;
    left: 50%;
    
}
h1{
    float:left;
}

 .auto-style1 {
            text-align:left;
        }
.auto-style2 {
            width: 128px;
            height: 40px;
        }
.auto-style3 {
            margin-left: 560px;
        }

.crtac{
     border:none;
    height: 10px;
 	width: 30%;
	height: 4px;
	margin-top: 0;
	border-bottom: 1px solid #E9E4E4;
	box-shadow:  0px 5px 0px 0px #dbdbdb;
    margin: 80px auto 10px; 
}
hr{
    border:none;
    height: 10px;
 	width: 70%;
	height: 10px;
	margin-top: 0;
	border-bottom: 1px solid #E9E4E4;
	box-shadow: 0px 5px 0px 1px #d3d3d3;
    margin: 80px auto 10px; 
}
.auth-footer-seperator{
    width:30%;
    height:20px;
    margin:auto;
    padding:60px 0px;
    font-weight:400;
    }

*{-moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;     
}
