.register{
    margin:auto;
    width:360px;
    height:820px;
    border:5px;
    border-color:black;
    background-color:#F5F5F5;
    top:80px;
    left:50%;
    align-content:center;
}
.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}